body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 247, 237);
    color: rgb(40, 49, 56);
}

.headingContainer {
    display: flex;
    justify-content: center;
}

.dateContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;

}

.dateContainer:hover {
    background-color: rgb(224, 223, 205);
}

.conceptsCoveredContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;
}

.conceptsCoveredContainer:hover {
    background-color: rgb(224, 223, 205);
}

.journalEntryContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;
}

.journalEntryContainer:hover {
    background-color: rgb(224, 223, 205);
}

.moodForTheDayContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;

}

.moodForTheDayContainer:hover {
    background-color: rgb(224, 223, 205);
}

.submitButtonContainer {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.submitButton {

    background-color: rgb(40, 49, 56);
    color: rgb(224, 223, 205);
    border: none;
    padding: 20px;
    font-size: .9em;
    cursor: pointer;
}