body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 247, 237);
    color: rgb(40, 49, 56);
}

.headingContainer {
    display: flex;
    justify-content: center;
}

.dateContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;
    transition: 0.4s;

}

.dateContainer:hover {
    background-color: rgb(224, 223, 205);
    transition: 0.4s;
    font-size: 1.5em;

}

.conceptsCoveredContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;
    transition: 0.4s;

}

.conceptsCoveredContainer:hover {
    background-color: rgb(224, 223, 205);
    transition: 0.4s;
    font-size: 1.5em;


}

.journalEntryContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;
    transition: 0.4s;

}

.journalEntryContainer:hover {
    background-color: rgb(224, 223, 205);
    transition: 0.4s;
    font-size: 1.5em;


}

.moodForTheDayContainer {
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    border: none;
    transition: 0.4s;


}

.moodForTheDayContainer:hover {
    background-color: rgb(224, 223, 205);
    transition: 0.4s;
    font-size: 1.5em;


}

.submitButtonContainer {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.submitButton {

    background-color: rgb(40, 49, 56);
    color: rgb(224, 223, 205);
    border: none;
    padding: 20px;
    font-size: .9em;
    cursor: pointer;
    transition: 0.4s;

}

.submitButton:hover {
    padding: 20px 250px 20px 250px;
    transition: 0.4s;
}

#entryLog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.journalContainer {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(40, 49, 56);
    flex-basis: 40%;
    transition: 0.4s;

}

.journalContainer:hover {
    background-color: rgb(224, 223, 205);
    flex-basis: 42%;
    transition: 0.4s;
}